<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="{% static 'css/indexstyle.css' %}" rel="stylesheet" />
    <style>
    body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url('static/img/download.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);
}
</style>
</head>
<body>
    <div class="contact-form">
    <h1>Coronavirus Disease (COVID-19) Pandemic</h1>
    <h3>Already registered? <a href="{% url 'login' %}">Login</a></h3>
    <h3>New User? <a href="{% url 'register' %}">Register</a></h3>
</div>
</body>
</html>