<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="contact-form" style="background-color:black";>
    <img alt="" class="avatar" src="{% static 'img/1.png' %}">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
         <p>Username</p>
        <input type="text" name="username" placeholder="Username" /> <br>
          <p>Password</p>
        <input type="password" name="password" placeholder="Password"/> 

        {% for message in messages %}
        {{message}}
        {% endfor %} <br><br>

        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>