<!DOCTYPE html>
<html>

<head>
    
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Corona Virus</title>
	{% load static %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" type='text/css' media="all"/>
    <style>
.bgimg {
  height: 76.5vh;
  width:87.9vw;
  background-position: center center;
  background-repeat: repeat;
}
</style>
</head>
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll">
            <img src="{% static 'img/download.png' %}" class="bgimg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">CORONA VIRUS</h1>
								<h6 class="tm-site-description">Forgot TO Wear A MAsk?</h6>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">FORGOT TO WEAR A MASK??</h2>
				<p class="col-12 text-center">WE ARE IN THIS TOGETHER- </br> AND WE WILL GET THROUGH THIS, TOGETHER</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="{% url 'social' %}" class="tm-paging-link ">Social-Distancing</a></li>
						<li class="tm-paging-item"><a href="{% url 'mask' %}" class="tm-paging-link active">Mask</a></li>
						<li class="tm-paging-item"><a href="{% url 'sanitizer' %}" class="tm-paging-link">Sanitize</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">		
				<!-- Mask -->
				<div id="tm-gallery-page-mask" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/m1.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Care Your Loved Ones</h4>
								<p class="tm-gallery-description">Love is in the air. But so is the Covid. Wear a Mask.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/m2.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption><br>
								<h4 class="tm-gallery-title">Use Face Mask</h4>
								<p class="tm-gallery-description">Spread Love not the virus. Use <b>Face Mask</b> in a correct way.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/m3.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">It's No-more a Joke</h4>
								<p class="tm-gallery-description">Cover your nose and mouth properly to save a lifetime.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/m4.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Be alert</h4>
								<p class="tm-gallery-description">Wearing a FACEMASK is better than wearing a VENTILATOR.</p>
							</figcaption>
						</figure>
					</article>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<embed style="width: 1100px; height:350px;" src="https://www.youtube.com/embed/qNzXb-GmptM"> </embed>
						</figure>
					</div>
					<article class="tm-gallery-data">
						<figure>
							<figcaption><br><br>
								<h4 class="tm-gallery-data-title">WEAR A FACEMASK</h4>
  								<p class="tm-gallery-data">Here are the basics of how to wear a mask:<br>
									Clean your hands before you put your mask on, as well as before and after you take it off, and after you touch it at any time.
									Make sure it covers both your nose, mouth and chin. 
									When you take off a mask, store it in a clean plastic bag, and every day either wash it if it’s a fabric mask, or dispose of a medical mask in a trash bin.
									Don’t use masks with valves.</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- Mask -->
			</div>
				<!-- End of gallary -->

			<!-- Link Section -->
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<embed style="width: 580px; height:450px;" src="https://www.youtube.com/embed/5C88zWXm3Oc"> </embed>
						</figure>
					</div>
					<div class="tm-description-box">
						<p style="color: black; text-align: center; padding-top: 5rem;">"THOUGHT OF THE DAY"<br>
						Safety from 'CORONA' is hidden in 'CORONA' word itself<br>
						<b>C</b>- Clean Your Hands<br>
						<b>O</b>- Off From Gatherings<br>
						<b>R</b>- Raise Your Immunity<br>
						<b>O</b>- Only stick To Wear Mask<br>
						<b>N</b>- No To Handshake<br>
						<b>A</b>- Avoid Rumours<br>
						Stay Alert, Stay Healthy...</p>
					</div>
					<div class="col-md-6">
							<figure class="tm-description-figure">
							<br><br>
							<embed style="width: 580px; height:450px;" src="https://www.youtube.com/embed/-UJ_LBVS8qU"> </embed>
						</figure>
					</div>
					<div class="tm-description-box">
							<p style="color: black; padding-top: 12rem; text-align: center;">
							It is not the strongest oh the species survive,<br>
							nor the most intelligent that survive.<br>
						   	It is the one that is the most adaptable to change.<br>.
							So be adaptable and get your vaccination soon.<br>
							For more visit: <a href="https://www.cowin.gov.in/" target="_blanck">CoWin</a></p>.
					</div>
					
				</div>
			</div>
			<!-- Button -->
			<div>
				<br><br>
				<input type="checkbox" class="check"> 
				<label>I hereby declare that, I will never violate any COVID-19 guidelines from now.</label>
				<br><br><br>
				<a href="{% url 'payment' %}" class="btn">Proceed Payment</a>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; FACEMASK DETECTION SYSTEM 2021 </p>
		</footer>
	</div>
    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>